WAKU_PUBLIC_WEB_TITLE="Waku Template"

SESSION_SECRET="change-me-to-a-random-secret"

POSTGRES_DB=waku_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

APP_PORT=8080
