@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';
@config '../tailwind.config.ts';

body {
  font-family: 'Nunito Sans', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}